* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: #08315a;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info {
  padding: 20px;
  display: flex;
  background-color: #072542;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.avatar {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username-btn {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-expanded {
  background-color: #072542; /* cor mais escura */
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-expanded button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  padding: 6px;
}

.dropdown-expanded button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.nav-links button {
  background: none;
  border: none;
  color: white;
  height: 100px;
  border-bottom: 1px solid rgb(23, 43, 141);
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  transition: background 0.3s;
}

.nav-links button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.logout {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logout button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  background-color: #f0f0f0;
}
.botaoDashboard {
    margin-bottom: 20px;
    padding: 10px 16px;
    background-color: #21216c;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoDashboard:hover {
    background-color: #3f4497;
}

.esquerda {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
